.gi
	font-size 16px
	vertical-align top
	text-align center
	transition color .1s ease-in 0
	display inline-block
	font-family "Genericons"
	font-style normal
	font-weight normal
	font-variant normal
	line-height 1
	text-decoration inherit
	text-transform none
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	speak none

/**
 * Helper classes
 */
.gi-rotate-90
	transform rotate(90deg)

.gi-rotate-180
	transform rotate(180deg)

.gi-rotate-270
	transform rotate(270deg)

.gi-flip-horizontal
	transform scale(-1, 1)

.gi-flip-vertical
	transform scale(1, -1)

/**
 * Individual icons
 */
.gi-404:before
	content "\f423"
.gi-activity:before
	content "\f508"
.gi-anchor:before
	content "\f509"
.gi-aside:before
	content "\f101"
.gi-attachment:before
	content "\f416"
.gi-audio:before
	content "\f109"
.gi-bold:before
	content "\f471"
.gi-book:before
	content "\f444"
.gi-bug:before
.gi-debug:before
	content "\f50a"
.gi-cart:before
.gi-prestashop:before
.gi-ecommerce:before
	content "\f447"
.gi-category:before
	content "\f301"
.gi-chat:before
	content "\f108"
.gi-checkmark:before
	content "\f418"
.gi-close:before
	content "\f405"
.gi-close-alt:before
	content "\f406"
.gi-cloud:before
	content "\f426"
.gi-cloud-download:before
	content "\f440"
.gi-cloud-upload:before
	content "\f441"
.gi-code:before
	content "\f462"
.gi-codepen:before
	content "\f216"
.gi-cog:before
.gi-developpement:before
	content "\f445"
.gi-collapse:before
	content "\f432"
.gi-comment:before
	content "\f300"
.gi-day:before
	content "\f305"
.gi-digg:before
	content "\f221"
.gi-document:before
	content "\f443"
.gi-dot:before
	content "\f428"
.gi-downarrow:before
	content "\f502"
.gi-download:before
	content "\f50b"
.gi-draggable:before
	content "\f436"
.gi-dribbble:before
	content "\f201"
.gi-dropbox:before
	content "\f225"
.gi-dropdown:before
	content "\f433"
.gi-dropdown-left:before
	content "\f434"
.gi-edit:before
	content "\f411"
.gi-ellipsis:before
	content "\f476"
.gi-expand:before
	content "\f431"
.gi-external:before
	content "\f442"
.gi-facebook:before
	content "\f203"
.gi-facebook-alt:before
	content "\f204"
.gi-fastforward:before
	content "\f458"
.gi-feed:before
	content "\f413"
.gi-flag:before
	content "\f468"
.gi-flickr:before
	content "\f211"
.gi-foursquare:before
	content "\f226"
.gi-fullscreen:before
	content "\f474"
.gi-gallery:before
	content "\f103"
.gi-github:before
	content "\f200"
.gi-googleplus:before
	content "\f206"
.gi-googleplus-alt:before
	content "\f218"
.gi-handset:before
	content "\f50c"
.gi-heart:before
	content "\f461"
.gi-help:before
	content "\f457"
.gi-hide:before
	content "\f404"
.gi-hierarchy:before
	content "\f505"
.gi-home:before
	content "\f409"
.gi-image:before
	content "\f102"
.gi-info:before
	content "\f455"
.gi-instagram:before
	content "\f215"
.gi-italic:before
	content "\f472"
.gi-key:before
	content "\f427"
.gi-leftarrow:before
	content "\f503"
.gi-link:before
	content "\f107"
.gi-linkedin:before
	content "\f207"
.gi-linkedin-alt:before
	content "\f208"
.gi-location:before
	content "\f417"
.gi-lock:before
	content "\f470"
.gi-mail:before
.gi-newsletter:before
	content "\f410"
.gi-maximize:before
	content "\f422"
.gi-menu:before
	content "\f419"
.gi-microphone:before
	content "\f50d"
.gi-minimize:before
	content "\f421"
.gi-minus:before
	content "\f50e"
.gi-month:before
	content "\f307"
.gi-move:before
	content "\f50f"
.gi-next:before
	content "\f429"
.gi-notice:before
	content "\f456"
.gi-paintbrush:before
	content "\f506"
.gi-path:before
	content "\f219"
.gi-pause:before
	content "\f448"
.gi-phone:before
.gi-mobile-site:before
	content "\f437"
.gi-picture:before
.gi-infographie:before
	content "\f473"
.gi-pinned:before
	content "\f308"
.gi-pinterest:before
	content "\f209"
.gi-pinterest-alt:before
	content "\f210"
.gi-play:before
	content "\f452"
.gi-plugin:before
	content "\f439"
.gi-plus:before
	content "\f510"
.gi-pocket:before
	content "\f224"
.gi-polldaddy:before
	content "\f217"
.gi-portfolio:before
	content "\f460"
.gi-previous:before
	content "\f430"
.gi-print:before
	content "\f469"
.gi-quote:before
	content "\f106"
.gi-rating-empty:before
	content "\f511"
.gi-rating-full:before
	content "\f512"
.gi-rating-half:before
	content "\f513"
.gi-reddit:before
	content "\f222"
.gi-refresh:before
	content "\f420"
.gi-reply:before
	content "\f412"
.gi-reply-alt:before
	content "\f466"
.gi-reply-single:before
	content "\f467"
.gi-rewind:before
	content "\f459"
.gi-rightarrow:before
	content "\f501"
.gi-search:before
	content "\f400"
.gi-send-to-phone:before
	content "\f438"
.gi-send-to-tablet:before
	content "\f454"
.gi-share:before
	content "\f415"
.gi-show:before
	content "\f403"
.gi-shuffle:before
	content "\f514"
.gi-sitemap:before
	content "\f507"
.gi-skip-ahead:before
	content "\f451"
.gi-skip-back:before
	content "\f450"
.gi-skype:before
	content "\f220"
.gi-spam:before
	content "\f424"
.gi-spotify:before
	content "\f515"
.gi-standard:before
	content "\f100"
.gi-star:before
	content "\f408"
.gi-status:before
	content "\f105"
.gi-stop:before
	content "\f449"
.gi-stumbleupon:before
	content "\f223"
.gi-subscribe:before
	content "\f463"
.gi-subscribed:before
	content "\f465"
.gi-summary:before
	content "\f425"
.gi-tablet:before
	content "\f453"
.gi-tag:before
	content "\f302"
.gi-time:before
	content "\f303"
.gi-top:before
	content "\f435"
.gi-trash:before
	content "\f407"
.gi-tumblr:before
	content "\f214"
.gi-twitch:before
	content "\f516"
.gi-twitter:before
	content "\f202"
.gi-unapprove:before
	content "\f446"
.gi-unsubscribe:before
	content "\f464"
.gi-unzoom:before
	content "\f401"
.gi-uparrow:before
	content "\f500"
.gi-user:before
.gi-joomla:before
	content "\f304"
.gi-video:before
	content "\f104"
.gi-videocamera:before
	content "\f517"
.gi-vimeo:before
	content "\f212"
.gi-warning:before
	content "\f414"
.gi-website:before
.gi-site:before
	content "\f475"
.gi-week:before
	content "\f306"
.gi-wordpress:before
	content "\f205"
.gi-xpost:before
	content "\f504"
.gi-youtube:before
	content "\f213"
.gi-zoom:before
	content "\f402"