.clearfix
	clearfix()

.block-type
	display block

.center-block
.aligncenter
	display block
	margin-left auto
	margin-right auto

.pull-left
.alignleft
	float left

.pull-right
.alignright
	float right

.text-left
	text-align left

.text-center
	text-align center

.text-right
	text-align right

.text-justify
	text-align justify

.text-nowrap
	white-space nowrap

.text-hide
	font "0/0" a
	color transparent
	text-shadow none
	background-color transparent
	border 0

.show
	display block

.invisible
	visibility hidden

.hidden
	display none
	visibility hidden

.sr-only
	position absolute !important
	width 1px !important
	height 1px !important
	padding 0 !important
	margin -1px !important
	overflow hidden !important
	clip rect(0,0,0,0) !important
	border 0 !important

.list-unstyled
	margin 0
	padding 0
	list-style none