/**
 * Couleurs
 **/
colorBackground = #26292c
colorText = #f8f8f2
colorTitle = #00bbe4
colorLink = #ed5936
colorEmphasis = #ffaa26
colorStrong = #c34f8f
colorCode = #a0c546

/**
 * Tailles
 **/
size-widthHeader = 20em
size-widthContent = 43.75em

/**
 * Fonts Families
 **/
fontsBase = "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
fontsTitle = "Yanone Kaffeesatz", "Bebas Neue", Arial, sans-serif
fontsCode = SourceCodePro, Consolas, Monaco, 'Andale Mono', monospace