/**
 * Colors
 **/
colorBackground = #26292c
colorText = #f8f8f2
colorTitle = #00bbe4
colorLink = #ed5936
colorEmphasis = #ffaa26
colorStrong = #c34f8f
colorCode = #a0c546

/**
 * Sizes
 **/
sizeFontBase = 16px

sizeWidthHeader = 20em
sizeWidthContent = 43.75em
sizeWidthGutter = pxToEm(20px)

/**
 * Breakpoints
 **/
breakpointLarge = pxToEm(1080)
breakpointMedium = pxToEm(820)
breakpointSmall = pxToEm(585)

/**
 * Media queries
 **/
mediaQueryDesktopWideOnly = 'screen and (min-width ' +  breakpointLarge + ')'
mediaQueryDesktopSmall = 'screen and (max-width ' +  breakpointLarge + ')'
mediaQueryTablet = 'screen and (max-width ' + breakpointMedium + ')'
mediaQueryMobile = 'screen and (max-width ' + breakpointSmall + ')'

/**
 * Fonts Families
 **/
fontsBase = "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
fontsTitle = "Yanone Kaffeesatz", "Bebas Neue", Arial, sans-serif
fontsCode = SourceCodePro, Consolas, Monaco, 'Andale Mono', monospace