/**
 * Add a sliding 3D effect [modal]
 **/
@keyframes slide-modal-content
	0%
		opacity 0
		transform translate3d(0, -100px, 0)
	100%
		opacity 1
		transform translate3d(0, 0, 0)

/**
 * Simple scale effect [portfolio]
 */
@keyframes slide-portfolio-thumbnails
	0%
		opacity 0
		transform scale(.5, .5)
	100%
		opacity 1
		transform scale(1, 1)

/**
 * Rotating icons
 **/
@keyframes spin
	0%
		transform rotate(0deg)

	100%
		transform rotate(359deg)
