/**
 * Fonts declarations
 **/

// Yanone Kaffeesatz
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-extralight-webfont", "Yanone Kaffeesatz Extralight", "yanone_kaffeesatzextralight", 200)
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-light-webfont", "Yanone Kaffeesatz Light", "yanone_kaffeesatzlight", 300)
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-regular-webfont", "Yanone Kaffeesatz Regular", "yanone_kaffeesatzregular", 400)
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-bold-webfont", "Yanone Kaffeesatz Bold", "yanone_kaffeesatzbold", 700)

// Source Code Pro
fontFace(SourceCodePro, pathWebfonts + "sourcecodepro/SourceCodePro-Regular-webfont", "Source code Pro", "sourcecodeproregular")

// Genericons
fontFace(genericons, pathWebfonts + "emmanuelb/emmanuelb", svg-name: "emmanuelb", formats: eot woff2 woff truetype)
