/**
 * Fonts declarations
 **/

// Yanone Kaffeesatz
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-extralight-webfont", "yanone_kaffeesatzregular", 200)
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-light-webfont", "yanone_kaffeesatzregular", 300)
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-regular-webfont", "yanone_kaffeesatzregular", 400)
fontFace("Yanone Kaffeesatz", pathWebfonts + "yanonekaffeesatz/yanonekaffeesatz-bold-webfont", "yanone_kaffeesatzregular", 700)

// Source Code Pro
fontFace(SourceCodePro, pathWebfonts + "sourcecodepro/SourceCodePro-Regular-webfont", "sourcecodeproregular", 400)

// Genericons
fontFace(genericons, pathWebfonts + "genericons/genericons-regular-webfont", "genericonsregular", 400)
