.clearfix
	clearfix()

.block-type
	display block

.center-block
.aligncenter
	centerBlock()

.pull-left
.alignleft
	pull(left)

.pull-right
.alignright
	pull(right)

.text-left
	text-align left

.text-center
	text-align center

.text-right
	text-align right

.text-justify
	text-align justify

.text-nowrap
	white-space nowrap

.text-hide
	textHide()

.show
	display block

.invisible
	visibility hidden

.hidden
	display none
	visibility hidden

.sr-only
	screenReaders()

.list-unstyled
	listUnstyled()