/**
 * Colors
 **/
color-background = #26292c
color-text = #f8f8f2
color-headings = #00bbe4
color-links = #ed5936
color-emphasis = #ffaa26
color-strong = #c34f8f
color-code = #a0c546

/**
 * Paths
 **/
pathWebfonts = "http://cdn.infographizm.com/fonts/"

/**
 * Sizes
 **/
font-size-root = 16px

width-header = 20em
width-content = 43.75em
width-gutter = 1.250em

/**
 * Breakpoints
 **/
breakpoint-large = 67.500em
breakpoint-medium = 51.250em
breakpoint-small = 36.563em

/**
 * Media queries
 **/
mediaquery-desktop-wide = 'screen and (min-width ' +  breakpoint-large + ')'
mediaquery-desktop-small = 'screen and (max-width ' +  breakpoint-large + ')'
mediaquery-tablet = 'screen and (max-width ' + breakpoint-medium + ')'
mediaquery-mobile = 'screen and (max-width ' + breakpoint-small + ')'

/**
 * Fonts Families
 **/
fonts-stack-common = "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
fonts-stack-headings = "Yanone Kaffeesatz", "Bebas Neue", Arial, sans-serif
fonts-stack-monospace = SourceCodePro, Consolas, Monaco, 'Andale Mono', monospace
