/**
 * Commentaires
 **/
.comments
	margin-top 3em
	border-top 1px solid lighten(color-background, 20%)
	padding-top 2em

	// .comments__title
	&__title
		margin-bottom .65em

.comment
	margin 10px auto

	// .comment-body
	&-body
		background lighten(color-background, 4%)
		border-radius 3px
		overflow hidden

	// .comment-list
	&-list
		list-style none
		margin 0
		padding 0

	// .comment__content
	&__content
		overflow hidden
		text-overflow ellipsis
		padding 24px
		text-align justify

		& > :first-child
			margin-top 0

		& > :last-child
			margin-bottom 0

		h1
		h2
		h3
		h4
		h5
			font-size 1.25em
			margin 0

			pre
				background darken(color-background, 10%)
				padding .5em
				color color-text
				font-size .875em
				border-radius 2px

	// .comment__footer
	&__footer
		padding 0 .5em .5em
		text-align right

	// .comment__header
	&__header
		padding .5em
		background lighten(color-background, 6%)
		overflow auto
		color color-text

			.fn
			a
				color color-background

			a:hover
			a:focus
				color color-emphasis

	// .comment__meta
	&__meta
		float right
		line-height 1
		font-size .865em
		padding-top 6px

		a
			color darken(color-text, 20%)

			&:hover
			&:focus
				color color-text

	// .comment__author
	&__author
		font-family fonts-stack-headings
		font-size 1.25em
		line-height 1.2
		float left
		width auto

		.fn
		.says
			font-style normal
			color color-text

		a
			color color-links

			&:focus
			&:hover
				color color-emphasis

	// .comment-reply-link
	&-reply-link
		display inline-block
		background color-links
		padding 2px 6px
		color color-text
		border-radius 2px

		&:before
			content '\f467'
			font-family genericons
			display inline-block
			margin-right 2px
			font-size 1.2em
			vertical-align bottom

		&:hover
		&:focus
			background color-emphasis
			color color-text

.form-allowed-tags
	display none

.fn
	font-weight 400

.children
	list-style none
	padding 0
	margin-left 2em
	position relative

	&:before
		content '\f412'
		font 1.4em genericons
		left -1.4em
		top 5px
		position absolute

.bypostauthor
	& > .comment-body
		.comment__header
			background color-code

		.comment__author
			/*.fn:before
				content '\f408'
				font-family genericons
				color color-emphasis
				font-size .8em
				vertical-align middle*/

			a
				color color-background

			.says
				color color-background

			a:hover
			a:focus
				color color-text

		.comment__meta
			a
				color color-text

				&:hover
				&:focus
					color color-background

.comment-respond
	margin-top 4em

#wmd-button-barcomment
	width (width-content - 15px)
	margin-left 8.5em

.wmd-button
	background-color color-background
	border-radius 2px