/**
 * Footer
 */
.site-footer
	color color-text
	padding 1em 2.5em
	text-align center

/**
 * No Script
 **/
.noscript
	background lighten(#8a6d3b, 90%)
	color #8a6d3b
	border-top 1px solid #8a6d3b
	padding 1em