/**
 * Fonts declarations
 **/

// Yanone Kaffeesatz
fontFace("Yanone Kaffeesatz", "yanonekaffeesatz-extralight-webfont", 200, normal, pathWebfonts, "yanone_kaffeesatzregular")
fontFace("Yanone Kaffeesatz", "yanonekaffeesatz-light-webfont", 300, normal, pathWebfonts, "yanone_kaffeesatzregular")
fontFace("Yanone Kaffeesatz", "yanonekaffeesatz-regular-webfont", 400, normal, pathWebfonts, "yanone_kaffeesatzregular")
fontFace("Yanone Kaffeesatz", "yanonekaffeesatz-bold-webfont", 700, normal, pathWebfonts, "yanone_kaffeesatzregular")

// Source Code Pro
fontFace(SourceCodePro, "SourceCodePro-Regular-webfont", 400, normal, pathWebfonts, "sourcecodeproregular")

// Genericons
fontFace(Genericons, "genericons-regular-webfont", 400, normal, pathWebfonts, "genericonsregular")
